@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

body{
    font-family: "Epilogue", sans-serif;
    color: #fff;
}

.title{
    display: block;
    padding: 20px 0;
    color:rgb(16, 96, 16);
    background-color: #f35907;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.modern-studio--margin{
    margin: 30px 0;
}

.modern-studio__container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.modern-studio__list{
    max-width: 570px;
    height: 602px;
    background-color: #28293E;
    margin: 0 auto;
    position: relative;
}

.modern-studio__item-1{
    position: absolute;
    background-color: #32334C;
    width: 64.912%;
    height: 61.461%;
    top: 16.611%;
    left: 17.543%;
    border-radius: 50%;
}

.modern-studio__item-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 43.157%;
    height: 50.664%;
    background-color: #B550F8;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 123px 123px 6px 6px;
    z-index: 1;
}

.modern-studio__image-2{
    position: absolute;
    top: 9.056%;
    left: 8.235%;
    width: 103.658%;
    z-index: 2;
}

.modern-studio__item-3{
    position: absolute;
    top: 6.644%;
    left: 53.333%;
    width: 19.649%;
    height: 18.604%;
    background-color: #EF6D58;
    border-radius: 50%;
}

.modern-studio__image-3{
    position: absolute;
    top: 25%;
    left: 31.25%;
    max-width: 37.5%;
    height: 50%;
    z-index: 2;
}

.modern-studio__item-4{
    position: absolute;
    top: 13.289%;
    right: 0;
    width: 19.649%;
    height: 13.621%;
}

.modern-studio__item-4 > img{
    width: 100%;
}

.modern-studio__item-5{
    position: absolute;
    bottom: 17.940%;
    right: 0;
    width: 43.157%;
    height: 50.664%;
    border-radius: 123px 123px 6px 6px;
    background-color: #F7CC47;
    z-index: 1;
}

.modern-studio__image-5{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.modern-studio__item-6{
    position: absolute;
    bottom: 1.98%;
    right: 30.526%;
    width: 14.385%;
    height: 8.305%;
}

.modern-studio__item-6 > img{
    width: 100%;
}

.modern-studio__item-7{
    position: absolute;
    bottom: 9.800%;
    left: 9.824%;
    width: 37.543%;
    height: 18.604%;
}

.modern-studio__item-7 > img{
    width: 100%;
}

.modern-studio__item-8{
    position: absolute;
    top: 56.644%;
    left: 0;
    width: 24.912%;
    height: 12.126%;
}

.modern-studio__item-8 > img{
    width: 100%;
}

/* latest work */
.latest-work{
    margin-bottom: 30px;
}

.latest-work__container{
    max-width: 478px;
    margin: 0 auto;
    padding: 0 15px;
}

.latest-work__card{
    position: relative;
}

.latest-work__card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5C2000;
    opacity: 0.3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.latest-work__image{
    width: 100%;
}

.latest-work__content{
    position: absolute;
    left: 10.71%;
    bottom: 8.85%;
}

.button-latest-work{
    display: block;
    padding: 5px 15px 1px 16px;
    color: #391400;
    background-color: #fff;
    border-radius: 19px;
    line-height: 2; /* 32/16 */
    text-align: center;
}

.button-latest-work:hover{
    background-color: #F7CC47;
}

.button-latest-work--margin{
    margin-bottom: 23px;
}

.latest-work__title{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2; /* 48/40 */
    text-transform: uppercase;
}

.header__container .footer__container{
    padding: 0 15px;   
}

/* circle */

.circle{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    text-align: center; 
    color: red;
    padding: 25px 0;
}

.circle--fixed{
    position: fixed;
    top: 300px;
    right: 70px;
    background-color: #11f4dd;
}

.circle--sticky{
    position: sticky;
    top: 0;
    left: 10px;
    background-color: #370b9d; 
}